@font-face {
 font-family: 'eaststreet';
 src: url('fonts/eaststreet.eot?tly44v');
 src: url('fonts/eaststreet.eot?tly44v#iefix') format('embedded-opentype'),
  url('fonts/eaststreet.ttf?tly44v') format('truetype'),
  url('fonts/eaststreet.woff?tly44v') format('woff'),
  url('fonts/eaststreet.svg?tly44v#eaststreet') format('svg');
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}

[class^="es-"], [class*=" es-"] {
 /* use !important to prevent issues with browser extensions that change fonts */
 font-family: 'eaststreet' !important;
 speak: none;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 1;

 /* Better Font Rendering =========== */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.es-ion-qr-scanner:before {
 content: "\f346";
}
.es-mi-Home:before {
 content: "\eb6f";
}
.es-mi-Cancel:before {
 content: "\ea80";
}
.es-mi-CellPhone:before {
 content: "\ea84";
}
.es-mi-ChevronDown:before {
 content: "\ea8e";
}
.es-mi-ChevronUp:before {
 content: "\ea97";
}
.es-mi-GlobalNavButton:before {
 content: "\eb48";
}
.es-mi-Like:before {
 content: "\ebb4";
}
.es-mi-More:before {
 content: "\ec15";
}
.es-mi-Repair:before {
 content: "\ecae";
}
.es-mi-Search:before {
 content: "\ecea";
}
.es-mi-Share:before {
 content: "\ecf8";
}
.es-mi-Up:before {
 content: "\ed7d";
}

