/*! @import "ui-totop"; */

/**
 * github.com/sksmatt/UItoTop-jQuery-Plugin/
 */

.ui-totop {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	right: 0;
	bottom: 0;
	font-size: 1.333rem;
	line-height: 3.200rem;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	background-color: rgba(31, 31, 31, 0.8);
	border: none;
	transition: visibility 0s, opacity 0.2s ease, background-color 0.2s ease;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.ui-totop .ui-icon {
	/*!
	 * Centering things
	 * @see {@link https://www.w3.org/Style/Examples/007/center.en.html}
	 */
	display: block;
	width: 1.333rem;
	height: 1.333rem;
	margin-top: 0.933rem;
	margin-right: auto;
	margin-left: auto;
}

.ui-totop .ui-icon > * {
	fill: #FFFFFF;
}

.ui-totop.is-active {
	visibility: visible;
	opacity: 1;
}

.ui-totop:hover {
	background-color: $TitleBarAndAppBarDark;
}

