*.bat
*.npp
*.sh
*.URL
*.xdk
*.xdke
/.idea
/.pma
/.settings
/.url
/inc/regional_localhost.inc
/inc/regional_shimansky.biz.inc
/sql
/sqlite
intelxdk.config.additions.xml
project-info.json
xdk-publish-meta-data.json
