.dir.txt
*.bak
*.bat
*.db
*.eps
*.git*
*.hg*
*.iml
*.iml
*.komodoproject
*.phprj
*.sh
*.xdk
*.xdk_bak
*.xdke
*.xdke_bak
*~
inc/regional_*
intelxdk.config.*.xml
xdk-publish-meta-data.json
node_modules/
piwik/
pub/
sql/
sqlite/
temp/
xdk/
/.*
!/.htaccess
!/.hgignore
!/.gitignore
!/.bithoundrc
!/.pgbomit
!/.travis.yml
