/*! @import "navbar.fixed"; */

/*!
 * @see {@link https://github.com/thednp/navbar.js/issues/2}
 */

.navbar,
.navbar ul {
	list-style: none;
	padding: 0;
}

.navbar,
.navbar ol,
.navbar ul {
	margin: 0;
}

.navbar li {
	position: relative;
	vertical-align: middle;
}

.navbar li > ul {
	width: 18.133rem;
	position: absolute;
	background-color: #000000;
	opacity: 0;
}

@media (max-width: 768px) {
	.navbar li > ul {
		width: auto;
	}
}

.navbar li a {
	display: block;
	height: 3.200rem;
	font-size: 0.933rem;
	line-height: 3.200rem;
	text-decoration: none;
	color: #FFFFFF;
	background-color: $TitleBarAndAppBarDark;
	padding: 0 1.333rem;
}

.navbar li a .navbar-icon.pointer {
	float: right;
	width: 0.533rem;
	height: 0.533rem;
	margin-top: 1.333rem;
}

.navbar li a .navbar-icon.action {
	float: right;
	width: 1.333rem;
	height: 1.333rem;
	margin-top: 0.933rem;
}

.navbar li a .navbar-icon.logo {
	float: right;
	width: 1.333rem;
	height: 1.333rem;
	margin-top: 0.933rem;
}

@media (max-width: 768px) {
	.navbar li a .navbar-icon.logo {
		float: left;
	}
}
.navbar a svg {
	display: block;
	padding: 0;
}

.navbar li li a {
	color: #FFFFFF;
	background-color: $TitleBarAndAppBarDark;
}

.navbar li li a .navbar-icon.pointer > *,
.navbar li li a .navbar-icon.action > * {
	fill: #FFFFFF;
}

.navbar li a .navbar-icon.pointer > *,
.navbar li li.is-open > a .navbar-icon.pointer > *,
.navbar li li:hover > a .navbar-icon.pointer > *,
.navbar li li.is-active > a .navbar-icon.pointer > *,
.navbar li li.is-active:hover > a .navbar-icon.pointer > *,
.navbar li a .navbar-icon.action > *,
.navbar li li.is-open > a .navbar-icon.action > *,
.navbar li li:hover > a .navbar-icon.action > *,
.navbar li li.is-active > a .navbar-icon.action > *,
.navbar li li.is-active:hover > a .navbar-icon.action > * {
	fill: #FFFFFF;
}

.navbar li a .navbar-icon.logo > * {
	fill: #FFFFFF;
}

.navbar li li.is-open > a,
.navbar li li:hover > a {
	color: #FFFFFF;
	background-color: $AccentColor;
}

.navbar li li.is-active > a,
.navbar li li.is-active:hover > a {
	color: #FFFFFF;
	background-color: #000000;
}

.navbar li.is-open > ul {
	opacity: 1;
}

.navbar > li.is-open > a,
.navbar > li:hover > a,
.navbar > li.is-active > a,
.navbar > li.is-active:hover > a {
	color: #FFFFFF;
	background-color: #000000;
}

.navbar > li > a {
	float: left;
}

@media (max-width: 768px) {
	.navbar > li > a {
		float: none;
	}
}

.navbar > li {
	position: relative;
	float: left;
}

@media (max-width: 768px) {
	.navbar > li {
		float: none;
	}
}

.navbar li > ul,
.navbar li li > ul {
	top: -999em;
	left: 85%;
	transition: top 0s, opacity .2s ease;
}

.navbar li li.is-open > ul {
	left: 100%;
}

.navbar li li.is-repositioned > ul {
	top: 0;
}

.navbar li.is-open > ul {
	top: 100%;
}

.navbar li.is-repositioned > ul {
	left: 0;
}

@media (max-width: 768px) {
	.navbar li.is-repositioned > ul {
		position: static;
	}
}

