* {
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
	margin: 0;
	padding: 0;
	font-family: inherit;
}

body {
	font-family: Segoe UI, Segoe MDL2 Assets;
	font-size: 15px;
	line-height: 1.5;
	height: 100vh;
	display: flex;
	overflow: hidden;
}

body[data-layout-type="tabs"],
body[data-layout-type="overlay"] {
	flex-direction: column;
}

body[data-layout-type="docked-minimized"] {
	flex-direction: row;
}

/* h1 {
	display: none;
}

h2 {
	display: none;
}

h3,
h4,
h5 {
	color: black;
	font-weight: 300;
}

h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child) {
	margin-top: 0.5em;
}

h3 {
	font-size: 34px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
} */

img {
	max-width: 100%;
}

/* Top level navigation */
.uwp-header {
	position: relative;
	z-index: 997;
}

.uwp-header .uwp-nav {
}

.uwp-header .uwp-nav ul {
}

.uwp-header .uwp-nav ul li {
	display: block;
}

.uwp-header .uwp-nav ul li a {
	text-decoration: none;
	color: inherit;
}

[data-layout-type="tabs"] .uwp-header {
	width: 100%;
	background: rgb(230, 230, 230);
	color: rgb(92, 92, 92);
}

[data-layout-type="tabs"].theme-light .uwp-header {
	color: rgba(0, 0, 0, 0.6);
	/* 92, 92, 92 */;
}

[data-layout-type="tabs"].theme-dark .uwp-header {
	color: rgba(255, 255, 255, 1);
}

/* Hide unnecessary title */
[data-layout-type="tabs"] .uwp-header>span {
	display: none;
}

/* Hide unnecessary menu button */
[data-layout-type="tabs"] .uwp-header .uwp-menu-button {
	display: none;
}

/* Hide all unsupported navs */
[data-layout-type="tabs"] .uwp-header .uwp-nav {
	display: none;
}

/* ...but show the supported one */
[data-layout-type="tabs"] .uwp-header .uwp-nav:nth-of-type(1) {
	width: 100%;
	height: 100%;
	font-size: 12px;
	display: flex;
	justify-content: center;
	overflow-x: auto;
}

[data-layout-type="tabs"] .uwp-header .uwp-nav:nth-of-type(1) ul {
	flex-shrink: 1;
	display: flex;
}

[data-layout-type="tabs"] .uwp-header .uwp-nav:nth-of-type(1) ul li {
	min-width: 84px;
	max-width: 168px;
	border-bottom: 2px solid transparent;
}

[data-layout-type="tabs"] .uwp-header .uwp-nav:nth-of-type(1) ul li.active {
	color: rgb(0, 120, 215);
	border-bottom-color: rgb(0, 120, 215);
}

[data-layout-type="tabs"] .uwp-header .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgb(205, 205, 205);
}

[data-layout-type="tabs"].theme-light .uwp-header .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgba(0, 0, 0, 0.1);
}

[data-layout-type="tabs"].theme-dark .uwp-header .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgba(255, 255, 255, 0.1);
}

[data-layout-type="tabs"] .uwp-header .uwp-nav:nth-of-type(1) ul li a {
	width: 100%;
	height: 100%;
	display: block;
	padding: 10px;
	text-align: center;
}

[data-layout-type="tabs"] .uwp-header .uwp-nav:nth-of-type(1) ul li a span {
	width: 20px;
	height: 20px;
	display: block;
	margin: 0 auto;
	margin-bottom: 4px;
	font-size: 16px;
}

[data-layout-type="overlay"] .uwp-header {
	width: 100%;
	height: 44px;
	background: rgb(250, 250, 250);
	color: rgb(50, 50, 50);
	display: flex;
	flex-shrink: 0;
}

[data-layout-type="overlay"].theme-light .uwp-header {
	color: rgba(0, 0, 0, 0.78);
	/* 50, 50, 50 */;
}

[data-layout-type="overlay"].theme-dark .uwp-header {
	color: rgba(255, 255, 255, 1);
}

[data-layout-type="overlay"] .uwp-header>span {
	height: 24px;
	margin: 10px 0;
	padding-left: 14px;
	border-left: 1px solid rgb(200, 200, 200);
	flex-grow: 1;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;
}

[data-layout-type="overlay"].theme-light .uwp-header>span {
	border-left-color: rgba(0, 0, 0, 0.2);
}

[data-layout-type="overlay"].theme-dark .uwp-header>span {
	border-left-color: rgba(255, 255, 255, 0.4);
}

[data-layout-type="overlay"] .uwp-header .uwp-menu-button {
	width: 44px;
	height: 44px;
	border: 0;
	outline: none;
	background-color: transparent;
	vertical-align: top;
	position: relative;
	z-index: 999;
	font-size: 20px;
	color: inherit;
}

[data-layout-type="overlay"] .uwp-header .uwp-menu-button:hover {
	background-color: rgb(218, 218, 218);
}

[data-layout-type="overlay"].theme-light .uwp-header .uwp-menu-button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

[data-layout-type="overlay"].theme-dark .uwp-header .uwp-menu-button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

[data-layout-type="overlay"] .uwp-header .uwp-nav:nth-of-type(1) {
	width: 250px;
	padding-top: 44px;
	background: rgb(230, 230, 230);
	transition: left 350ms cubic-bezier(0.1, 0.9, 0.2, 1);
	position: fixed;
	top: 0;
	left: -250px;
	bottom: 0;
	z-index: 998;
	display: flex;
	flex-direction: column;
	font-size: 15px;
}

[data-layout-type="overlay"] .uwp-header .uwp-nav:nth-of-type(1).active {
	left: 0;
}

[data-layout-type="overlay"] .uwp-header .uwp-nav:nth-of-type(1) ul {
	width: 100%;
}

/* Fills the space to push the last menu to the very bottom */
[data-layout-type="overlay"] .uwp-header .uwp-nav:nth-of-type(1) ul:nth-last-of-type(2) {
	flex-grow: 1;
}

[data-layout-type="overlay"] .uwp-header .uwp-nav:nth-of-type(1) ul:last-of-type {
	flex-shrink: 1;
}

[data-layout-type="overlay"] .uwp-header .uwp-nav:nth-of-type(1) ul:not(:first-of-type) {
	border-top: 1px solid rgb(200, 200, 200);
	margin-top: 10px;
	padding-top: 10px;
}

[data-layout-type="overlay"].theme-light .uwp-header .uwp-nav:nth-of-type(1) ul:not(:first-of-type) {
	border-top-color: rgba(0, 0, 0, 0.2);
}

[data-layout-type="overlay"].theme-dark .uwp-header .uwp-nav:nth-of-type(1) ul:not(:first-of-type) {
	border-top-color: rgba(255, 255, 255, 0.4);
}

[data-layout-type="overlay"] .uwp-header .uwp-nav:nth-of-type(1) ul li {
	width: 100%;
	height: 44px;
	line-height: 0;
	/* Edge fix */;
}

[data-layout-type="overlay"] .uwp-header .uwp-nav:nth-of-type(1) ul li.active {
	color: white;
	background-color: rgb(0, 120, 215);
}

[data-layout-type="overlay"].active-light .uwp-header .uwp-nav:nth-of-type(1) ul li.active {
	color: black;
}

[data-layout-type="overlay"].active-dark .uwp-header .uwp-nav:nth-of-type(1) ul li.active {
	color: white;
}

[data-layout-type="overlay"] .uwp-header .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgb(205, 205, 205);
}

[data-layout-type="overlay"].theme-light .uwp-header .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgba(0, 0, 0, 0.1);
}

[data-layout-type="overlay"].theme-dark .uwp-header .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgba(255, 255, 255, 0.1);
}

[data-layout-type="overlay"] .uwp-header .uwp-nav:nth-of-type(1) ul li a {
	width: 100%;
	height: 100%;
	padding: 10px;
	display: flex;
	line-height: 24px;
}

[data-layout-type="overlay"] .uwp-header .uwp-nav:nth-of-type(1) ul li a span {
	width: 24px;
	height: 24px;
	margin: 2px 10px 2px 0;
	font-size: 16px;
	text-align: center;
}

[data-layout-type="overlay"] .uwp-header .uwp-nav:nth-of-type(2) {
	height: 24px;
	margin: 10px;
	font-size: 15px;
	line-height: 24px;
	color: rgb(50, 50, 50);
}

[data-layout-type="docked-minimized"] .uwp-header {
	width: 44px;
	height: 100%;
	background: rgb(250, 250, 250);
	color: rgb(50, 50, 50);
	display: flex;
	flex-shrink: 0;
}

[data-layout-type="docked-minimized"].theme-light .uwp-header {
	color: rgba(0, 0, 0, 0.78);
	/* 50, 50, 50 */;
}

[data-layout-type="docked-minimized"].theme-dark .uwp-header {
	color: rgba(255, 255, 255, 1);
}

/* Hide unnecessary title */
[data-layout-type="docked-minimized"] .uwp-header>span {
	display: none;
}

[data-layout-type="docked-minimized"] .uwp-header .uwp-menu-button {
	width: 44px;
	height: 44px;
	border: 0;
	outline: none;
	background-color: transparent;
	vertical-align: top;
	position: relative;
	z-index: 999;
	font-size: 20px;
	color: inherit;
}

[data-layout-type="docked-minimized"] .uwp-header .uwp-menu-button:hover {
	background-color: rgb(218, 218, 218);
}

[data-layout-type="docked-minimized"].theme-light .uwp-header .uwp-menu-button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

[data-layout-type="docked-minimized"].theme-dark .uwp-header .uwp-menu-button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

[data-layout-type="docked-minimized"] .uwp-header .uwp-nav:nth-of-type(1) {
	width: 250px;
	padding-top: 44px;
	background: rgb(230, 230, 230);
	transition: clip 350ms cubic-bezier(0.1, 0.9, 0.2, 1);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 998;
	display: flex;
	flex-direction: column;
	clip: rect(0px, 44px, 9999px, 0px);
	font-size: 15px;
}

[data-layout-type="docked-minimized"] .uwp-header .uwp-nav:nth-of-type(1).active {
	clip: rect(0px, 250px, 9999px, 0px);
}

[data-layout-type="docked-minimized"] .uwp-header .uwp-nav:nth-of-type(1) ul {
	width: 100%;
}

/* Fills the space to push the last menu to the very bottom */
[data-layout-type="docked-minimized"] .uwp-header .uwp-nav:nth-of-type(1) ul:nth-last-of-type(2) {
	flex-grow: 1;
}

[data-layout-type="docked-minimized"] .uwp-header .uwp-nav:nth-of-type(1) ul:last-of-type {
	flex-shrink: 1;
}

[data-layout-type="docked-minimized"] .uwp-header .uwp-nav:nth-of-type(1) ul:not(:first-of-type) {
	border-top: 1px solid rgb(200, 200, 200);
	margin-top: 10px;
	padding-top: 10px;
}

[data-layout-type="docked-minimized"].theme-light .uwp-header .uwp-nav:nth-of-type(1) ul:not(:first-of-type) {
	border-top-color: rgba(0, 0, 0, 0.2);
}

[data-layout-type="docked-minimized"].theme-dark .uwp-header .uwp-nav:nth-of-type(1) ul:not(:first-of-type) {
	border-top-color: rgba(255, 255, 255, 0.4);
}

[data-layout-type="docked-minimized"] .uwp-header .uwp-nav:nth-of-type(1) ul li {
	width: 100%;
	height: 44px;
	line-height: 0;
	/* Edge fix */;
}

[data-layout-type="docked-minimized"] .uwp-header .uwp-nav:nth-of-type(1) ul li.active {
	color: white;
	background-color: rgb(0, 120, 215);
}

[data-layout-type="docked-minimized"].active-light .uwp-header .uwp-nav:nth-of-type(1) ul li.active {
	color: black;
}

[data-layout-type="docked-minimized"].active-dark .uwp-header .uwp-nav:nth-of-type(1) ul li.active {
	color: white;
}

[data-layout-type="docked-minimized"] .uwp-header .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgb(205, 205, 205);
}

[data-layout-type="docked-minimized"].theme-light .uwp-header .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgba(0, 0, 0, 0.1);
}

[data-layout-type="docked-minimized"].theme-dark .uwp-header .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgba(255, 255, 255, 0.1);
}

[data-layout-type="docked-minimized"] .uwp-header .uwp-nav:nth-of-type(1) ul li a {
	width: 100%;
	height: 100%;
	padding: 10px;
	display: flex;
	line-height: 24px;
}

[data-layout-type="docked-minimized"] .uwp-header .uwp-nav:nth-of-type(1) ul li a span {
	width: 24px;
	height: 24px;
	margin: 2px 10px 2px 0;
	font-size: 16px;
	text-align: center;
}

[data-layout-type="docked-minimized"] .uwp-header .uwp-nav:nth-of-type(2) {
	height: 24px;
	margin: 10px;
	font-size: 15px;
	line-height: 24px;
	color: rgb(50, 50, 50);
}

[data-layout-type="docked"] .uwp-header {
	width: 250px;
	height: 100%;
	background: rgb(250, 250, 250);
	color: rgb(50, 50, 50);
	display: flex;
	flex-shrink: 0;
}

[data-layout-type="docked"].theme-light .uwp-header {
	color: rgba(0, 0, 0, 0.78);
	/* 50, 50, 50 */;
}

[data-layout-type="docked"].theme-dark .uwp-header {
	color: rgba(255, 255, 255, 1);
}

/* Hide unnecessary title */
[data-layout-type="docked"] .uwp-header>span {
	display: none;
}

/* Hide unnecessary menu button */
[data-layout-type="docked"] .uwp-header .uwp-menu-button {
	display: none;
}

[data-layout-type="docked"] .uwp-header .uwp-nav:nth-of-type(1) {
	width: 250px;
	background: rgb(230, 230, 230);
	display: flex;
	flex-direction: column;
	font-size: 15px;
}

[data-layout-type="docked"] .uwp-header .uwp-nav:nth-of-type(1) ul {
	width: 100%;
}

/* Fills the space to push the last menu to the very bottom */
[data-layout-type="docked"] .uwp-header .uwp-nav:nth-of-type(1) ul:nth-last-of-type(2) {
	flex-grow: 1;
}

[data-layout-type="docked"] .uwp-header .uwp-nav:nth-of-type(1) ul:last-of-type {
	flex-shrink: 1;
}

[data-layout-type="docked"] .uwp-header .uwp-nav:nth-of-type(1) ul:not(:first-of-type) {
	border-top: 1px solid rgb(200, 200, 200);
	margin-top: 10px;
	padding-top: 10px;
}

[data-layout-type="docked"].theme-light .uwp-header .uwp-nav:nth-of-type(1) ul:not(:first-of-type) {
	border-top-color: rgba(0, 0, 0, 0.2);
}

[data-layout-type="docked"].theme-dark .uwp-header .uwp-nav:nth-of-type(1) ul:not(:first-of-type) {
	border-top-color: rgba(255, 255, 255, 0.4);
}

[data-layout-type="docked"] .uwp-header .uwp-nav:nth-of-type(1) ul li {
	width: 100%;
	height: 44px;
	line-height: 0;
	/* Edge fix */;
}

[data-layout-type="docked"] .uwp-header .uwp-nav:nth-of-type(1) ul li.active {
	color: white;
	background-color: rgb(0, 120, 215);
}

[data-layout-type="docked"].active-light .uwp-header .uwp-nav:nth-of-type(1) ul li.active {
	color: black;
}

[data-layout-type="docked"].active-dark .uwp-header .uwp-nav:nth-of-type(1) ul li.active {
	color: white;
}

[data-layout-type="docked"] .uwp-header .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgb(205, 205, 205);
}

[data-layout-type="docked"].theme-light .uwp-header .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgba(0, 0, 0, 0.1);
}

[data-layout-type="docked"].theme-dark .uwp-header .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgba(255, 255, 255, 0.1);
}

[data-layout-type="docked"] .uwp-header .uwp-nav:nth-of-type(1) ul li a {
	width: 100%;
	height: 100%;
	padding: 10px;
	display: flex;
	line-height: 24px;
}

[data-layout-type="docked"] .uwp-header .uwp-nav:nth-of-type(1) ul li a span {
	width: 24px;
	height: 24px;
	margin: 2px 10px 2px 0;
	font-size: 16px;
	text-align: center;
}

[data-layout-type="docked"] .uwp-header .uwp-nav:nth-of-type(2) {
	height: 24px;
	margin: 10px;
	font-size: 15px;
	line-height: 24px;
	color: rgb(50, 50, 50);
}

/* Commands */
.uwp-nav[data-type="commands"] {
	width: 100%;
	height: 48px;
	background: rgb(230, 230, 230);
	color: rgb(90, 90, 90);
}

.uwp-nav[data-type="commands"] ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
}

.uwp-nav[data-type="commands"] ul li {
	display: inline-block;
	min-width: 68px;
	height: 100%;
	padding: 14px 24px;
	text-align: center;
}

.uwp-nav[data-type="commands"] ul li:hover {
	background-color: rgb(205, 205, 205);
}

.uwp-nav[data-type="commands"].theme-light ul li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.uwp-nav[data-type="commands"].theme-dark ul li:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.uwp-nav[data-type="commands"] ul li span {
	display: block;
	margin: 0 auto;
}

.uwp-nav[data-type="commands"] ul li span:first-child {
	width: 20px;
	height: 20px;
	margin-bottom: 4px;
	background-color: rgb(90, 90, 90);
}

.uwp-nav[data-type="commands"] ul li span:last-child {
	display: none;
}

/* Content */
.uwp-main {
	background: rgb(255, 255, 255);
	color: rgba(0, 0, 0, 0.8);
	/* 102, 102, 102 */
	flex-grow: 1;
	overflow-y: auto;
}

/* IE11 bug fix */
[data-layout-type="docked-minimized"] .uwp-main {
	width: calc(100% - 44px);
}

.uwp-main.start-animation {
	-webkit-animation: uwp-main 500ms cubic-bezier(0.1, 0.9, 0.2, 1);
	animation: uwp-main 500ms cubic-bezier(0.1, 0.9, 0.2, 1);
}

@-webkit-keyframes uwp-main {
	0% {
		margin-top: 20px;
	}

	100% {
		margin-top: 0;
	}
}

@keyframes uwp-main {
	0% {
		margin-top: 20px;
	}

	100% {
		margin-top: 0;
	}
}

/* .uwp-main a {
	color: rgb(0, 120, 215);
} */

/* Form */
/* .uwp-main input[type="text"],
.uwp-main input[type="email"],
.uwp-main input[type="password"],
.uwp-main input[type="number"],
.uwp-main select {
	display: block;
	width: 384px;
	height: 32px;
	max-width: 100%;
	min-width: 80px;
	margin: 4px 0;
	padding: 0 11px;
	font: inherit;
	border: 2px solid rgb(150, 150, 150);
}

.uwp-main input[type="text"]:hover,
.uwp-main input[type="email"]:hover,
.uwp-main input[type="password"]:hover,
.uwp-main nput[type="number"]:hover,
.uwp-main select:hover {
	border-color: rgb(50, 50, 50);
}

.uwp-main input[type="text"]:focus,
.uwp-main input[type="email"]:focus,
.uwp-main input[type="password"]:focus,
.uwp-main input[type="number"]:focus,
.uwp-main select:focus {
	border-color: rgb(0, 120, 215);
}

.uwp-main input[type="checkbox"] {
	display: none;
}

.uwp-main input[type="checkbox"]+label:before {
	content: '?';
	display: inline-block;
	vertical-align: -2px;
	width: 14px;
	height: 14px;
	color: white;
	font-size: 14px;
	line-height: 18px;
	border: 2px solid rgb(50, 50, 50);
	margin-right: 8px;
}

.uwp-main input[type="checkbox"]+label:hover:before {
	border-color: rgb(0, 0, 0);
}

.uwp-main input[type="checkbox"]:checked+label:before {
	background-color: rgb(0, 120, 215);
	border-color: rgb(0, 120, 215);
}

.uwp-main input[type="checkbox"]:checked+label:hover:before {
	border-color: rgb(0, 0, 0);
}

.uwp-main input[disabled] {
	opacity: 0.5;
}

.uwp-main option {
	height: 32px;
	padding: 4px 11px;
	font: inherit;
	background-color: rgb(240, 240, 240);
}

.uwp-main option:hover {
	background-color: rgb(220, 220, 220);
}

.uwp-main button {
	margin: 0.18em 0;
	padding: 0.18em 1.8em;
	border: 2px solid rgb(205, 205, 205);
	background-color: rgb(205, 205, 205);
	font-size: 16px;
}

.uwp-main button[disabled] {
	color: rgb(165, 165, 165);
}

.uwp-main button:not([disabled]):hover {
	border-color: rgb(140, 140, 140);
}

.uwp-main button:not([disabled]):active {
	border-color: rgb(150, 150, 150);
	background-color: rgb(150, 150, 150);
} */

/* Section */
/* .uwp-main section {
	padding: 12px;
}

.uwp-main section ul {
	margin-left: 1em;
}

.uwp-main section[data-type="list"] {
	padding: 0;
}

.uwp-main section[data-type="list"] h3 {
	display: none;
}

.uwp-main section p+p,
.uwp-main section ul+p {
	margin-top: 0.5em;
}

.uwp-main section[data-type="list"] ul {
	margin: 0;
}

.uwp-main section[data-type="list"] ul li {
	padding: 12px;
	display: flex;
}

.uwp-main section[data-type="list"] ul li:hover {
	background-color: rgb(230, 230, 230);
}

.uwp-main section[data-type="list"] ul li div[data-type="contact-photo"] {
	width: 48px;
	height: 48px;
	margin-right: 12px;
}

.uwp-main section[data-type="list"] ul li div[data-type="contact-photo"] img {
	border-radius: 100%;
}

.uwp-main section[data-type="list"] ul li h4 {
	font-size: 18px;
	font-weight: 500;
}

.uwp-main section[data-type="list"] ul li p {
	font-size: 13px;
	margin: 0;
} */

.uwp-main.error {
	text-align: center;
}

.uwp-main.error .error-container {
	position: relative;
	margin-top: calc(50vh - 44px);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
