@font-face {
	font-family: Roboto;
	src: url(./Roboto-Thin.woff2?v=2.137) format("woff2"), url(./Roboto-Thin.woff?v=2.137) format("woff");
	font-weight: 100;
	font-style: normal
}

@font-face {
	font-family: Roboto;
	src: url(./Roboto-ThinItalic.woff2?v=2.137) format("woff2"), url(./Roboto-ThinItalic.woff?v=2.137) format("woff");
	font-weight: 100;
	font-style: italic
}

@font-face {
	font-family: Roboto;
	src: url(./Roboto-Light.woff2?v=2.137) format("woff2"), url(./Roboto-Light.woff?v=2.137) format("woff");
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: Roboto;
	src: url(./Roboto-LightItalic.woff2?v=2.137) format("woff2"), url(./Roboto-LightItalic.woff?v=2.137) format("woff");
	font-weight: 300;
	font-style: italic
}

@font-face {
	font-family: Roboto;
	src: url(./Roboto-Regular.woff2?v=2.137) format("woff2"), url(./Roboto-Regular.woff?v=2.137) format("woff");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Roboto;
	src: url(./Roboto-Regular.woff2?v=2.137) format("woff2"), url(./Roboto-Regular.woff?v=2.137) format("woff");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Roboto;
	src: url(./Roboto-Italic.woff2?v=2.137) format("woff2"), url(./Roboto-Italic.woff?v=2.137) format("woff");
	font-weight: 400;
	font-style: italic
}

@font-face {
	font-family: Roboto;
	src: url(./Roboto-Italic.woff2?v=2.137) format("woff2"), url(./Roboto-Italic.woff?v=2.137) format("woff");
	font-weight: 400;
	font-style: italic
}

@font-face {
	font-family: Roboto;
	src: url(./Roboto-Medium.woff2?v=2.137) format("woff2"), url(./Roboto-Medium.woff?v=2.137) format("woff");
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: Roboto;
	src: url(./Roboto-MediumItalic.woff2?v=2.137) format("woff2"), url(./Roboto-MediumItalic.woff?v=2.137) format("woff");
	font-weight: 500;
	font-style: italic
}

@font-face {
	font-family: Roboto;
	src: url(./Roboto-Bold.woff2?v=2.137) format("woff2"), url(./Roboto-Bold.woff?v=2.137) format("woff");
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: Roboto;
	src: url(./Roboto-Bold.woff2?v=2.137) format("woff2"), url(./Roboto-Bold.woff?v=2.137) format("woff");
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: Roboto;
	src: url(./Roboto-BoldItalic.woff2?v=2.137) format("woff2"), url(./Roboto-BoldItalic.woff?v=2.137) format("woff");
	font-weight: 700;
	font-style: italic
}

@font-face {
	font-family: Roboto;
	src: url(./Roboto-BoldItalic.woff2?v=2.137) format("woff2"), url(./Roboto-BoldItalic.woff?v=2.137) format("woff");
	font-weight: 700;
	font-style: italic
}

@font-face {
	font-family: Roboto;
	src: url(./Roboto-Black.woff2?v=2.137) format("woff2"), url(./Roboto-Black.woff?v=2.137) format("woff");
	font-weight: 900;
	font-style: normal
}

@font-face {
	font-family: Roboto;
	src: url(./Roboto-BlackItalic.woff2?v=2.137) format("woff2"), url(./Roboto-BlackItalic.woff?v=2.137) format("woff");
	font-weight: 900;
	font-style: italic
}
